html, body{
  height: 100%;
}

#canvas {
  margin: 20px;
  background-color: white;
  cursor: crosshair;
  border: solid 2px orange;
  border-radius: 5px;
}

#back{
  width: auto;
  height: auto;
}

div
{
	background-color: #222831;
	border: 1px solid #F0D43A;
	border-radius: 15px;
}

input {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
  }
  
input:focus {
	border: 2px solid #555;
  }

#paddle_varialbes {
  grid-area: paddle;
}
#randomness_variable {
  grid-area: randomness;
  padding-top: 20%;
}
#canvas_variables {
  grid-area: canvas_variables;
}
#container_canvas {
  grid-area: canvas;
}
#play_button{
  grid-area: play;
}

#score_container{
  grid-area: score;
}

#lives_score{
  grid-area: lives_score;
}

#container_all_content {
  display: grid;
  grid-template-areas: 
    "randomness canvas_variables canvas canvas"
    "paddle     lives_score      canvas canvas"
    "play       lives_score      canvas canvas";
}
