html, body{
  height: 100%;
}

#canvas {
  margin: 20px;
  background-color: white;
  cursor: crosshair;
  border: solid 2px orange;
  border-radius: 5px;
}

/* #content_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

/* .container{
  width: 100%;
  height: 100%;
} */

div
{
	background-color: #222831;
	border: 1px solid #F0D43A;
	border-radius: 15px;
}


/* #canvas{
	margin: 20px;
	background-color: white;
	cursor: crosshair;
	border: solid 0px orange;
	border-radius: 5px;
} */



input {
	/* width: 300px;
	padding: 12px 20px;
	margin: 8px 0; */
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
  }
  
input:focus {
	border: 2px solid #555;
  }



/* 
#informative_title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
} */



/* #container_all_content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
} */



#paddle_varialbes {
  grid-area: paddle;
}
#randomness_variable {
  grid-area: randomness;
}
#canvas_variables {
  grid-area: canvas_variables;
}
#container_canvas {
  grid-area: canvas;
}
#play_button{
  grid-area: play;
}

#score_container{
  grid-area: score;
}

#lives_score{
  grid-area: lives_score;
}

#container_all_content {
  display: grid;
  /* grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: auto; */
  grid-template-areas: 
    "randomness canvas_variables canvas canvas"
    "paddle     lives_score      canvas canvas"
    "play       lives_score      canvas canvas";
}
