
#container_containers{
    display: flex;
	flex-direction: column;

}

.container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.informative_text{
    width: 600px;
    font-weight: bold;
}
img{
    width: 50%;
}