
#tilbake_knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 5px;
    top: 15px;
    left: 10px;
    width: auto;
    height: auto;
    font-size: 30px;
    background-color: #00adb5;
    text-decoration: none;
    color: #222831;
    border: 3px solid black;
  }
  
label {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

button{
  margin-top: 20px
}