body {

  background-color: #1446A0;
  font-family: Georgia, serif;
  /* border: 10px solid black; */
  
  margin: 10px;
  
}
/* *{
  border: 5px solid green !important;
} */

#hoved {

  width: 60%;
  height: 150px;                  
  margin: 50px auto;          
  padding: 0px;
  text-align: center;
  background-color: #F5D547;      
  border: 5px solid black; 
  font-size: 25px;
}

#sub {

  width: 60%;
  height: 150px;                  
  margin: 50px auto;          
  padding: 0px;
  text-align: center;
  background-color: #DB3069;     
  border: 5px solid black; 
  font-size: 35px;
  position: relative; top: 800px;
}



#home{

  background-color: red;
  width: 100px;


}

h1, h2 {
  font-family: Arial, sans-serif; 
}