table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-bottom: 2px solid #3f4259;
  }
  th, td {
    border: 2px solid black;
    padding: 8px;
  }
  thead > tr {
    background-color: #3f4259;
    color: #f6f7fa;
  }
  tbody > tr:nth-child(odd) {
    background-color: #f6f7fa;
  } 

  tbody > tr:nth-child(even){
    background-color: #cccc;
  }


  h1 {
    font-weight: bold;
    font-family: Arial, sans-serif; 
  }